@import "tailwindcss";

@theme {
  --font-sans: var(--font-ibm-plex-sans);
  --font-weight-extralight: 150;
  --font-weight-light: 225;
  --font-weight-normal: 300;

  --color-*: initial;
  --color-quartz-50: #ebebef;
  --color-quartz-100: #d1d1db;
  --color-quartz-200: #b2b2c5;
  --color-quartz-300: #9393ae;
  --color-quartz-400: #6a6988;
  --color-quartz-500: #4a4a6c;
  --color-quartz-600: #2b2a50;
  --color-quartz-900: #191920;
  --color-topaz-100: #dce8ee;
  --color-topaz-200: #9edde8;
  --color-topaz-300: #14c4db;
  --color-topaz-400: #1d87a4;
  --color-topaz-500: #24587a;
  --color-emerald-100: #c2e5d6;
  --color-emerald-200: #71daa4;
  --color-emerald-300: #20cf72;
  --color-emerald-400: #248d64;
  --color-emerald-500: #285c5a;
  --color-citrine-100: #eadecf;
  --color-citrine-200: #e8c490;
  --color-citrine-300: #e6aa51;
  --color-citrine-400: #9b7751;
  --color-citrine-500: #635050;
  --color-ruby-100: #efd0d9;
  --color-ruby-200: #e997a7;
  --color-ruby-300: #ff6682;
  --color-ruby-400: #aa4e6e;
  --color-ruby-500: #6b3c5f;

  --color-background: var(--color-quartz-600);
  --color-default: var(--color-quartz-50);
  --color-subtle: var(--color-quartz-100);
  --color-disabled: var(--color-quartz-100);

  --radius-*: initial;
  --radius-none: 0;
  --radius-aa: 0.125rem;
  --radius-a: 0.25rem;
  --radius-b: 0.5rem;
  --radius-c: 0.75rem;
  --radius-d: 1rem;
  --radius-full: 10rem;

  --spacing-*: initial;
  --spacing-none: 0;
  --spacing-aa: 0.125rem;
  --spacing-a: 0.25rem;
  --spacing-b: 0.5rem;
  --spacing-c: 0.75rem;
  --spacing-d: 1rem;
  --spacing-e: 1.25rem;
  --spacing-f: 1.5rem;
  --spacing-g: 1.75rem;
  --spacing-h: 2rem;
  --spacing-i: 2.25rem;
  --spacing-j: 2.5rem;
  --spacing-k: 2.75rem;
  --spacing-l: 3rem;
  --spacing-m: 4rem;
  --spacing-n: 5rem;

  --text-display-1: 2rem;
  --text-display-1--line-height: 2.25rem;
  --text-display-1--font-weight: var(--font-weight-bold);
  --text-display-1--letter-spacing: 0.625rem;
  --text-display-2: 1.5rem;
  --text-display-2--line-height: 2rem;
  --text-display-2--font-weight: var(--font-weight-bold);
  --text-display-2--letter-spacing: 0.25rem;
  --text-display-3: 1.25rem;
  --text-display-3--line-height: 1.75rem;
  --text-display-3--font-weight: var(--font-weight-bold);
  --text-display-4: 1rem;
  --text-display-4--line-height: 1.5rem;
  --text-display-4--font-weight: var(--font-weight-bold);
  --text-display-5: 0.75rem;
  --text-display-5--line-height: 1rem;
  --text-display-5--font-weight: var(--font-weight-bold);
  --text-body: 1rem;
  --text-body--line-height: 1.5rem;
  --text-body--font-weight: var(--font-weight-normal);
  --text-caption: 0.75rem;
  --text-caption--line-height: 1rem;
  --text-caption--font-weight: var(--font-weight-normal);
}
